body{
    background-color: black;
    color: white !important ;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: relative; 
    min-height: 90vh;
    border: 2px solid white ;
    margin: 15px auto;
    border-radius: 20px;
    padding: 0 50px;

}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.back-button {
    background-color: #c6c6c6;
    color: #222;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 120px;
    height: 39px;
    transition: 0.2s ease;
    cursor: pointer;
}
.add-butt{
    background-color: #c6c6c6;
    color: #222;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 120px;
    height: 39px;
    transition: 0.2s ease;
    cursor: pointer;    
    margin-top: 20px;
}
.back-button:hover {
    background-color: #a9a9a9; 
    transform: scale(1.1) ;

}

.next-button {
    background-color: #0052cc; /* A nice blue */
    color: white;
    border: 1px solid #1a4e9b;
    border-radius: 5px;
    width: 120px;
    height: 39px;
    transition: 0.2s ease;
    cursor: pointer;
}
.next-button:hover {
    background-color: #0041a3;
    transform: scale(1.1) ;
}
.bod{
    margin-top: 15px;
}
.download-butt{
    background-color: #c6c6c6;
    color: #222;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 180px;
    height: 70px;
    transition: 0.2s ease;
    cursor: pointer;  
    display: block;


}
.download-butt:hover {
    background-color: #a9a9a9; 
    transform: scale(1.1) ;

}